<%= form_for(:session, url: login_path,
             html: { class: "form-inline navbar-form"}) do |f| %>
  <div class="form-group">
    <%= f.label :email, class: "sr-only" %>
    <%= f.email_field :email, placeholder: "e-mail address",
                      class: 'form-control input-sm' %>
  </div>
  <%= f.submit "Log in", class: 'form-control btn btn-primary btn-sm btn-login' %>

<% end %>
